*{
  background: black;
}
body{
  align-items: center;
}
t1 .uno{
  color: green;
  font-weight: 45px;
}
t2 .dos{
  color: yellow;
  font-weight: 35px;
}
t3 .tres{
  color: red;
  font-weight: 25px;
}
t4 .cuatro{
  color: blue;
  font-weight: 50px;
}
